/* =============================================
          general classes
  ============================================== */

input:focus {
  outline: none;
}

.avatar {
  --diameter: 40px;
}

.avatar {
  border-radius: 50%;
  height: var(--diameter);
  object-fit: contain;
  width: var(--diameter);
}

.rounded-btn {
  --icon-size: 1.5rem;
}

.rounded-btn {
  border-radius: 50%;
  color: var(--accent-col-2);
  cursor: pointer;
  font-size: var(--icon-size);
  padding: var(--spacing-3);
}

/* ==========================================
        component specific classes
  ========================================== */
.chat-container {
  background-color: var(--primary-col);
  color: var(--accent-col-1);
  display: grid;
  height: 100vh;
  padding: var(--spacing-1);
  grid-template: 10vh 1fr 8vh / 20vw 1fr;
  grid-gap: calc(2 * var(--spacing-2));
  grid-template-areas:
    " header   header "
    " sidebar  box    "
    " sidebar  box    ";
  width: 100vw;
}

.chat-header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-around;
}

.chat-sidebar {
  grid-area: sidebar;
  overflow-y: auto;
  padding: var(--spacing-2);
}

.chat-box {
  --chat-texts-height: 350px;
}

.chat-box {
  display: grid;
  grid-area: box;
  grid-template-rows: 1fr var(--chat-texts-height) 2fr;
  padding: var(--spacing-2);
}

.chat-head,
.search-result {
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  margin: var(--spacing-2) 0rem;
  padding: var(--spacing-3) var(--spacing-2);
  width: 100%;
}

.chat-head p,
.search-result p,
.inbox-header p {
  padding-left: var(--spacing-2);
}

.inbox-header {
  color: var(--accent-col-2);
  font-weight: bold;
  margin: 0;
  display: flex;
}

.chat-texts {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-text {
  display: flex;
  margin: var(--spacing-2) 0;
}

.chat-text img {
  --diameter: 20px;
}

.chat-text img {
  height: var(--diameter);
  width: var(--diameter);
}

.chat-text-content {
  padding: var(--spacing-3);
}

.chat-text-time {
  font-size: var(--font-size-3);
}

.chat-text-body {
  --mx-width: 550px;
}

.chat-text-body {
  margin: var(--spacing-3) 0;
  max-width: var(--mx-width);
  overflow-wrap: break-word;
}

.chat-text-delete {
  border: 0;
  color: red;
  cursor: pointer;
}

.compose-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.compose-text input {
  --width: 300px;
}
.compose-text input {
  font-size: var(--font-size-2);
  padding: var(--spacing-2);
  margin-right: var(--spacing-2);
  width: var(--width);
}

.logout {
  color: var(--accent-col-2);
  cursor: pointer;
  font-weight: bold;
  padding: var(--spacing-3) var(--spacing-1);
}

.search {
  --width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  position: relative;
  background-color: var(--primary-col);
  width: var(--width);
  text-align: center;
  z-index: 2;
}

.search input {
  --width: 200px;
}

.search input {
  font-size: var(--font-size-2);
  margin-right: var(--spacing-2);
  padding: var(--spacing-3);
  width: var(--width);
}

.search-results {
  --mx-height: 300px;
  --height-from-top: 66px;
}

.search-results {
  background-color: var(--primary-col);
  left: 0;
  max-height: var(--mx-height);
  overflow-y: auto;
  padding: var(--spacing-2);
  position: absolute;
  top: var(--height-from-top);
  width: var(--width);
}

.greyout {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.chat-footer {
  display: none;
}

.blank-room {
  font-weight: bolder;
  grid-row: 2;
  text-align: center;
  font-size: var(--font-size-1);
}

.faded-icon {
  color: var(--accent-col-2);
  font-size: calc(2 * var(--font-size-1));
  opacity: 0.2;
}

/*==============================
        media queries
 =============================== */

@media (max-width: 1024px) {
  .chat-box {
    --chat-texts-height: 250px;
  }

  .avatar {
    --diameter: 30px;
  }

  .chat-text-body {
    --mx-width: 500px;
  }

  .chat-container {
    grid-template-areas:
      " header  header "
      " focus   focus  "
      " footer  footer ";
    position: relative;
  }

  .chat-footer {
    align-items: center;
    display: flex;
    grid-area: footer;
    justify-content: center;
  }
}

@media (max-width: 769px) {
  :root {
    --spacing-1: 1.5rem;
    --spacing-2: 1rem;
    --spacing-3: 0.5rem;

    --font-size-1: 2rem;
    --font-size-2: 1rem;
    --font-size-3: 0.7rem;

    --border-radius: 10px;
  }

  .chat-box {
    --chat-texts-height: 280px;
  }

  .avatar {
    --diameter: 40px;
  }

  .chat-text img {
    --diameter: 20px;
  }

  .chat-text-body {
    --mx-width: 300px;
  }

  .search {
    --width: 300px;
  }

  .search-results {
    --height-from-top: 66px;
    --mx-height: 300px;
  }

  .search input {
    --width: 200px;
    font-size: var(--font-size-2);
  }

  .compose-text input {
    --width: 300px;
  }
}

@media (max-width: 480px) {
  :root {
    --spacing-1: 1.2rem;
    --spacing-2: 0.7rem;
    --spacing-3: 0.4rem;

    --font-size-1: 1.5rem;
    --font-size-2: 1rem;
    --font-size-3: 0.5rem;

    --border-radius: 10px;
  }

  .avatar {
    --diameter: 30px;
  }

  .chat-text img {
    --diameter: 20px;
  }

  .chat-text-body {
    --mx-width: 120px;
  }

  .search {
    --width: 150px;
    height: 50px;
  }

  .search-results {
    --height-from-top: 50px;
    --mx-height: 300px;
  }

  .search input {
    --width: 110px;
    font-size: var(--font-size-2);
  }

  .compose-text input {
    --width: 160px;
    font-size: var(--font-size-2);
    padding: var(--spacing-3);
  }

  .rounded-btn {
    --icon-size: 0.9rem;
  }

  .chat-box {
    grid-template-rows: 30px 340px 45px;
  }

  .compose-text {
    border: red solid 2px;
  }

  .inbox-header {
    border: black solid 2px;
  }

  .chat-texts {
    border: green solid 2px;
  }
}
