.container {
  align-items: center;
  background-color: hsl(224, 88%, 93%);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
}

p.title {
  font-size: var(--font-size-1);
  margin-bottom: var(--spacing-2);
  letter-spacing: 2px;
}

p.dev {
  margin-top: var(--spacing-2);
}
